@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/Avenir-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Book";
  src: url("../fonts/Avenir-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Book";
  src: url("../fonts/Avenir-Medium.ttf") format("truetype");
}

.top-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-two span:nth-of-type(1) span:nth-of-type(1) {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  margin-right: 10px;
  color: #4F63FF;
}

.top-two span:nth-of-type(1) span:nth-of-type(2) {
  font-size: 14px;
  color: #28b759;
  /* vertical-align: baseline; */
}

.top-two> span:last-of-type {
  display: flex;
  align-items: center;
}

.top-three {
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 8px;
  color: #9ba1b5;
  word-spacing: 5px;
}

#nibbs {
  color: #666666;
  padding-left: 2px;
}

.line {
  width: 100%;
  display: none;
  padding: 1em 0 0;
}

.compact-slider {
  width: 100%;
  background: #F2F2F2;
  border-radius: 2px;
} 
.compact-slider div:nth-of-type(1) {
width: 209px;
height: 5px;
background: #FF005C;
border-radius: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #e5e5e5;
  display: flex;
  align-items: center;
}

.card-holder {
  width: 353px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(210, 216, 236, 0.3);
  border-radius: 5px;
  margin: 0 auto;
}

#light {
  color: white;
}

.hide {
  display: none;
}

.fa-sun {
  display: none;
}

.bottom {
  display: flex;
  height: 35px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0.5px outset #9ba1b5;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #9ba1b5;
  align-items: center;
  font-size: 12px;
}

.btn:last-of-type {
  border-right: none;
}

.btn.active {
  color: #182655;
  background-color: #f2f2f2;
}

.bottom span:nth-of-type(1) {
  border-bottom-left-radius: 5px;
}

.bottom span:nth-of-type(3) {
  border-bottom-right-radius: 5px;
}

.bottom span:nth-of-type(2) {
  border-left: 0.2px solid #9ba1b5;
  border-right: 0.2px solid #9ba1b5;
}

/* DARK MODE */ 
.dark-mode {
  background: #27292d;
}

.dark-mode .top-one,
.dark-mode #nibbs,
.dark-mode .top-one > span:nth-of-type(1),
.dark-mode .top-one div span {
  color: #ffffff;
}

.dark-mode .btn {
  color: #939496;
}

.dark-mode .btn.active {
  color: #ffffff;
  background: #383b40;
}

.dark-mode .fa-sun {
  display: block;
}

.dark-mode .fa-moon {
  display: none;
}

.dark-mode #nibbs {
  color: #ffffff;
}
/* --------------
Dark mode end 
----- ---------*/

/* -------------
Card Top 
---------------*/
.card-top {
  padding: 20px;
}

.top-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-one > span:nth-of-type(1) {
  color: #7e7e7e;
  font-family: "Avenir Medium", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
}

.top-one div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.top-one div span {
  color: #666666;
  cursor: pointer;
  float: right;
}

.top-one div span:first-child {
  margin-right: 13.68px;
}

.full-mode .top-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-mode .top-two span:nth-of-type(1) span:nth-of-type(1) {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  margin-right: 10px;
  color: #4F63FF;
}

.full-mode .top-two span:nth-of-type(1) span:nth-of-type(2) {
  font-size: 14px;
  color: #28b759;
}

.full-mode .top-two> span:last-of-type {
  display: flex;
  align-items: center;
}

.full-mode .top-three {
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 8px;
  color: #9ba1b5;
  word-spacing: 5px;
}

.full-mode #nibbs {
  color: #666666;
  padding-left: 2px;
}

.full-mode .bottom {
  display: flex;
}

.full-mode .line {
  display: none;
}

.full-mode .icon {
  position: relative;
  bottom: 1px;
}
.compact-mode .bottom {
  display: none;
}

.compact-mode .line {
  display: none;
}

.mini-mode .card-top {
  padding-bottom: 5px;
}

.mini-mode .bottom {
  display: none;
}

.mini-mode .top-three {
  display: none;
}

.mini-mode .top-two> span:last-of-type {
  display: none;
}

.mini-mode .line {
  display: block;
}

.mini-mode  .top-two span:nth-of-type(1) span:nth-of-type(2) {
  color: #FF005C;
}

.mini-mode  .icon {
  position: relative;
  top: 2px;
}

/* 
.top-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .top-two span:nth-of-type(1) span:nth-of-type(1) {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  margin-right: 10px;
  color: #4F63FF;
}

.top-two span:nth-of-type(1) span:nth-of-type(2) {
  font-size: 14px;
  color: #28b759;
}

.top-two> span:last-of-type {
  display: flex;
  align-items: center;
}
 */














input[type="range"]::-webkit-slider-runnable-track {
  width: 120px;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #35bb63;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}