@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/Avenir-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Book";
  src: url("../fonts/Avenir-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Book";
  src: url("../fonts/Avenir-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #e5e5e5;
  display: flex;
  align-items: center;
}

.card-holder {
  width: 353px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(210, 216, 236, 0.3);
  border-radius: 5px;
  margin: 0 auto;
}

#light {
  color: white;
}

.fa-sun {
  display: none;
}

.slider {
  -webkit-appearance: none;
  height: 4px;
  width: 120px;
  background: linear-gradient(90deg, #f2f2f2 50%, #f2f2f2 50%);
  outline: none;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px black;
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 3px solid #28b759;
  border-radius: 50%;
}

.bottom {
  display: flex;
  height: 35px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0.5px outset #9ba1b5;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #9ba1b5;
  align-items: center;
  font-size: 12px;
}

.btn:last-of-type {
  border-right: none;
}

.btn.active {
  color: #182655;
  background-color: #f2f2f2;
}

.bottom span:nth-of-type(1) {
  border-bottom-left-radius: 5px;
}

.bottom span:nth-of-type(3) {
  border-bottom-right-radius: 5px;
}

.bottom span:nth-of-type(2) {
  border-left: 0.2px solid #9ba1b5;
  border-right: 0.2px solid #9ba1b5;
}

/* DARK MODE */
.dark-mode {
  background: #27292d;
}

.dark-mode .top-one,
.dark-mode #nibbs,
.dark-mode .top-one > span:nth-of-type(1),
.dark-mode .top-one div span {
  color: #ffffff;
}

.dark-mode .btn {
  color: #939496;
}

.dark-mode .btn.active {
  color: #ffffff;
  background: #383b40;
}

.dark-mode .fa-sun {
  display: block;
}

.dark-mode .fa-moon {
  display: none;
}

.dark-mode #nibbs {
  color: #ffffff;
}

.dark-mode .compact-slider {
  background: #383b40;
}
/* --------------
Dark mode end 
----- ---------*/

.card-top {
  padding: 20px;
}

.top-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-one > span:nth-of-type(1) {
  color: #7e7e7e;
  font-family: "Avenir Medium", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
}

.top-one div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.top-one div span {
  color: #666666;
  cursor: pointer;
  float: right;
}

.top-one div span:first-child {
  margin-right: 13.68px;
}

.top-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sixty,
.twelve {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  margin-right: 10px;
  color: #4f63ff;
  font-family: "Avenir Black", sans-serif;
}

.sixty {
  display: none;
}

.fourteen,
.fa-sort-down {
  font-size: 14px;
  color: #28b759;
}

.eight,
.fa-sort-up {
  display: none;
  font-size: 14px;
  color: #ff005c;
}

.fa-sort-up {
  position: relative;
  top: 2px;
}

.top-two > span:last-of-type {
  display: flex;
  align-items: center;
}

.top-three {
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 8px;
  color: #9ba1b5;
  word-spacing: 5px;
}

#nibbs {
  color: #666666;
  padding-left: 2px;
}

.line {
  width: 100%;
  display: none;
  padding: 0 5px 5px;
}

.compact-slider {
  width: 100%;
  background: #f2f2f2;
  border-radius: 2px;
}

.compact-slider div:nth-of-type(1) {
  width: 209px;
  height: 5px;
  background: #ff005c;
  border-radius: 2px;
}

/* FULL MODE */
.full-mode .top-two {
  display: flex;
}

.full-mode .top-two > span:last-of-type {
  display: flex;
}

.full-mode .top-three {
  display: flex;
}

.full-mode .bottom {
  display: flex;
}

.full-mode .line {
  display: none;
}

.full-mode.dark-mode #nibbs {
  color: #ffffff;
}

.full-mode .twelve {
  display: inline;
}

.full-mode .fourteen,
.full-mode .fa-sort-down {
  display: inline;
}

.full-mode .sixty {
  display: none;
}

.full-mode .eight,
.full-mode .fa-sort-up {
  display: none;
}

/* COMPACT MODE */
.compact-mode .bottom {
  display: none;
}

.compact-mode .line {
  display: none;
}

/* MINIMIZED MODE */
.mini-mode .bottom {
  display: none;
}

.mini-mode .top-three {
  display: none;
}

.mini-mode .top-two > span:last-of-type {
  display: none;
}

.mini-mode .line {
  display: block;
}

.mini-mode .twelve {
  display: none;
}

.mini-mode .fourteen,
.mini-mode .fa-sort-down {
  display: none;
}

.mini-mode .sixty {
  display: inline;
}

.mini-mode .eight,
.mini-mode .fa-sort-up {
  display: inline;
}
